<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<!-- ヘッダー領域：ヘッダーのの読み込み -->
	<th:block th:replace="~{parts/header}"></th:block>
	<hr />
	<main>
		<article>
			<table border="1">
				<tr>
					<th>NO</th>
					<th>商品</th>
					<th>値段</th>
					<th>個数</th>
					<th>小計</th>
					<th></th>
				</tr>
				<tr th:each="item:${@cart.items}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.price}"></td>
					<td th:text="${item.quantity}"></td>
					<td th:text="${item.price * item.quantity}"></td>
					<td>
						<form action="" method="post">
							
							<button>削除</button>
						</form>
					</td>
				</tr>
				<tr>
					<td colspan="5">総計：[[${@cart.totalPrice}]]</td>
					<td></td>
				</tr>
			</table>
			<form action="" method="">
				<button>注文する</button>
			</form>
		</article>
	</main>
	<hr />
	<!-- フッター領域：フッターの読み込み -->
	<th:block th:replace="~{parts/footer}"></th:block>
</body>
</html>